
	/* Base */
/*
body {
    background: url(../img/background.jpg);
}
*/
a {
    color: inherit;
    text-decoration: none;
}

.logo {
    display: block;
    margin: 20px auto;
    width: 400px;
}

.button-try {
    position: relative;
    display: block;
    margin: 60px auto 20px;
    width: 200px;
}

#canvas {
    display: none;
}

.video-container {
    position: absolute;
    top: 0px;
    width: 600px;
    height: auto;
    margin: 20px auto;
    border: 10px solid #fff;
    box-shadow: 0 5px 5px #000;
}
    .video {
        display: block;
        width: 100%;
        height: auto;
    }
.face {
    position: absolute;
    border: 2px solid #FFF;
}
	